* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f0ebf8;
}

h1, h2, h3, h4, h5, h6 {
    color: aqua;
}
p, label {
    color: chocolate;
}

input {
    border: none;
    border-bottom: 1px solid #f0ebf8;
    padding: 10px 0;
}
.cabecalho {
    height: 160px;
    padding: 20px;
    background-color: #673ab7;
}